<footer data-wf--footer--variant="black-on-white" class="section is-footer">
  <div class="container is-tab-vert">
    <div class="d is-pad-only"></div>
    <div class="d">
      <div class="d"><div class="footer-nav-column"><div class="navlink-list">
        {% for item in site.footer_links %}
        <a data-underline-link="" href="{{ nav_prefix }}{{ item.url }}" class="navlink is-footer">{{ item.label }}</a>
        {% endfor %}
      </div></div></div>
      <div class="d"><div class="footer-nav-column"><div class="navlink-list">
        {% for item in site.social_links %}
        <a data-underline-link="" href="{{ item.url }}" target="_blank" class="navlink is-footer">{{ item.label }}</a>
        {% endfor %}
      </div></div></div>
    </div>
  </div>
  <div class="container is-tab-vert">
    <div class="d is-pad-only"></div>
    <div class="d"><div class="d"><div class="navlink is-footer">{{ site.copyright }}</div></div></div>
  </div>
</footer>
