---
pagination:
  data: collections.platforms
  size: 1
  alias: entry
permalink: "{{ entry.permalink }}"
eleventyExcludeFromCollections: true
---
{% set nav_prefix = "../" %}
{% include "layouts/base.njk" %}
