---
pagination:
  data: collections.projects
  size: 1
  alias: entry
permalink: "{{ entry.permalink }}"
eleventyExcludeFromCollections: true
---
{% set nav_prefix = "../" %}
{% set show_detail_header = true %}
{% set detail_split = true %}
{% include "layouts/base.njk" %}
